# Build files
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# Build directories
/build/
/bin/
/Debug/
/Release/

# IDE files
.vs/
.vscode/
*.code-workspace

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Ninja build files
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# OS specific files
.DS_Store
Thumbs.db